<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"/>
  </head>
<body>
<div class="container">
  {% block content %}{% endblock %}
</div>
</body>
<script src="{% static "js/jquery-2.2.3.js" %}"
		integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
		crossorigin="anonymous"></script>
<script src="{% static "js/materialize.js" %}"></script>
</html>