<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layouts/side-menu.css' %}"/>
  </head>
<body>
<div class="container">
  {% block content %}{% endblock %}
</div>
</body>
<script src="{% static "js/ui.js" %}"></script>
</html>